@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    nav h3{
        margin-bottom: 20px;
    }
    .banner-section{
        flex-direction: column-reverse;
        margin-top: 10px;
        text-align: center;
    }
    .banner-content{
        margin-top: 20px;
        padding: 10px;
    }
    /* logos section */
    .logos-container{
        flex-direction: column;
        padding: 100px;
    }
    .logos-container img{
        margin-bottom: 20px;
    }
    /* grid card section */
    .grid-card-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    .single-card{
        width: 100%;
    }
    .card-section .see-more{
        margin-top: 30px;
    }
    /* featured section*/
    .featured-container {
        flex-direction: column-reverse;
        text-align: center;
    }
    /* footer section */
    .footer-content{
        padding: 50px;
    }
}