@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    nav h3{
        margin-bottom: 20px;
    }
    .banner-section{
        flex-direction: column-reverse;
        margin-top: 10px;
        text-align: center;
    }
    .banner-content{
        margin-top: 20px;
        padding: 10px;
    }
}